%form{:action=>'/',:method=>'POST'}
  %label{:for=>'top'} Top
  %input{:type=>'text',:name=>'top',:id=>'top'}
  %label{:for=>'bottom'} Bottom
  %input{:type=>'text',:name=>'bottom',:id=>'bottom'}
  %input{:type=>'submit',:value=>'MAKE'}
